.title-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #2e2e2e;
}
.return-img{
    float: left;
    padding: 1px;
    height: 18px;
}
.my-box{
    background-color: #FFFFFF;
    border-radius: 18px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}