.title-box{
    margin-top: 20px;
    margin-bottom: 20px;
}
.title {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #2e2e2e;
}
.return-img{
    float: left;
    padding: 1px;
    height: 18px;
}

.my-box{
    background-color: #FFFFFF;
    border-radius: 18px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pc-card {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}


.my-nav-bar {
    width: 100%;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 3px;
    position: relative;
    z-index: 1;
}

.my-nav {
    position: absolute;
    right: 0;
    z-index: 1;
}

.my-nav li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    cursor: pointer
}

.my-nav li a {
    text-decoration: none;
    padding-bottom: 4px;
    color: #fff;
    font-size: 16px;
}

.my-navleft-option li a:hover {
    border-bottom: solid 2px #fff;
}


.my-nav li a.navcurr {
    border-bottom: solid 2px #fff;
}

/*导航栏悬浮*/
.nav-pos {
    position: fixed;
    top: 0;
    z-index: 20;
}

.center-vertically{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}