.title-box{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    color: #2e2e2e;
}

/*手机端返回按钮*/
.return-img{
    float: left;
    padding: 1px;
    height: 18px;
}

/*移动端各模块的白色背景块*/
.mb-card{
    background-color: #FFFFFF;
    border-radius: 18px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*PC端各模块的白色背景块*/
.pc-card {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 10px;
}

.my-card-pd{
    padding: 30px;
}

/*面包屑导航栏*/
.my-breadcrumb{
    color: #7F7F7F;
    font-size: 18px;
}

.my-breadcrumb a{
    color: #555555;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
}

.my-breadcrumb span{
    font-size: 20px;
    margin-left: 5px;
    color: rgb(85, 85, 85)
}

.my-breadcrumb a:hover{
    color: rgb(234, 176, 85);
    text-decoration: none;
}

.my-breadcrumb a:active{
    color: rgb(234, 176, 85);
    text-decoration: none;
}

/*导航栏*/
.my-nav-bar {
    width: 100%;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 3px;
    position: relative;
    z-index: 1;
}

.my-nav {
    position: absolute;
    right: 0;
    z-index: 1;
}

.my-nav li {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    cursor: pointer
}

.my-nav li a {
    text-decoration: none;
    padding-bottom: 4px;
    color: #fff;
    font-size: 16px;
}

.my-navleft-option li a:hover {
    border-bottom: solid 2px #fff;
}


.my-nav li a.navcurr {
    border-bottom: solid 2px #fff;
}

/*导航栏悬浮*/
.nav-pos {
    position: fixed;
    top: 0;
    z-index: 20;
}

/*图片与文字垂直居中*/
.center-vertically{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

/*图片与文字右间隔距离*/
.my-icon{
    margin-right: 5px;
}

/*居左*/
.left{
    text-align: left;
}

/*居右*/
.right{
    text-align: right;
}

/*居中*/
.center{
    text-align: center;
}

/*鼠标悬浮变成手*/
.hand{
    cursor: pointer;
}

/*导航栏背景*/
.nav-bg{
    background-image: linear-gradient(90deg, rgba(222, 176, 108, 1) 0%, rgba(247, 197, 120, 1) 92%);
}

/*大标题*/
.box-title {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
}
